* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/* moved font-family declaration from other selectors to the body selector */
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* replaced div and class .header with header selector */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

/* removed .header h1 and replaced with h1 */
h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* removed .header h1 */
.seo {
    color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* removed class .header div and replaced with nav selector */
/* moved font-family to body selector */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* removed class .header div and replaced with nav selector */
nav ul {
    list-style-type: none;
}

/* removed class .header div and replaced with nav selector */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* replaced .content with .services */
.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* replaced all three classes under services with one .services-article class */
/* moved font-family to body selector */
/* slightly increased the height property to align two columns (services and benefits) */
.services-article {
    margin-bottom: 20px;
    padding: 50px;
    height: 316px;
    background-color: #0072bb;
    color: #ffffff;
}

/* replaced all three classes under services with one .services-article class */
.services-article img {
    max-height: 200px;
}

/* replaced all three classes with .services-article */
.services-article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* moved font-family to body selector */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* replaced all three different classes under section benefits with one .benefit-article class */
/* deleted all redundant selector declarations */
.benefit-article {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-article h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* replaced class .footer with footer selector */
/* moved font-family to body selector */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

/* replaced class .footer with footer element */
/* replaced h2 with h4 */
footer h4 {
    font-size: 20px;
}